# .env.example

NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjcWtyZG16b2xobWxkbXVsdGFkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDA1NzI0NywiZXhwIjoyMDk5NjMzMjQ3fQ.5UWSin910o-TTP9r8NaBLHqpN2uJqH4KRehsa0pj9ZM
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjcWtyZG16b2xobWxkbXVsdGFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwNTcyNDcsImV4cCI6MjA5OTYzMzI0N30.kpmHpKxep63OvCthD9xaeGLNyp_0jtx5DZt7ftTE7kc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjcWtyZG16b2xobWxkbXVsdGFkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDA1NzI0NywiZXhwIjoyMDk5NjMzMjQ3fQ.5UWSin910o-TTP9r8NaBLHqpN2uJqH4KRehsa0pj9ZM

COMPOSIO_API_KEY=ak_m36QedeSqahLrE8jj8qa

AI_API_KEY=sk-5235986de9bb493196d4ad46faa9241d
AI_BASE_URL=https://api.deepseek.com/anthropic
AI_MODEL=deepseek-v4-pro

KLOYYA_DEMO_USER_ID=